<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="James Alderson" />
    <meta
      name="description"
      content="Photosen photography team, Here you can see a series of the team's portfolios" />
    <meta name="theme-color" content="#000000" />

    <title>Photosen</title>
    <link rel="stylesheet" href="../docs/css/main.css" />
  </head>
  <body class="bg-black"></body>
</html>
