<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="James Alderson">
  <meta name="description" content="Julian Mack – Changing the world one headline at a time.">

  <title>Home</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/src/images/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/src/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/images/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/src/images/favicon/site.webmanifest">
</head>
<body>
  
</body>
</html>