@font-face {
  font-family: 'Boxicons';
  src: url('./font/Boxicons.eot');
  src: url('./font/Boxicons.eot?#iefix') format('embedded-opentype'),
    url('./font/Boxicons.woff2') format('woff2'),
    url('./font/Boxicons.woff') format('woff'),
    url('./font/Boxicons.ttf') format('truetype'),
    url('./font/Boxicons.svg#Boxicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^='boxicons-']:before,
[class*=' boxicons-']:before,
[class^='boxicons-']:after,
[class*=' boxicons-']:after {
  font-family: 'Boxicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxicons-chevron-down:before {
  content: '\e900';
}
.boxicons-facebook:before {
  content: '\e901';
}
.boxicons-heart:before {
  content: '\e902';
}
.boxicons-instagram:before {
  content: '\e903';
}
.boxicons-menu:before {
  content: '\e904';
}
.boxicons-twitter:before {
  content: '\e905';
}
.boxicons-x:before {
  content: '\e906';
}
.boxicons-youtube:before {
  content: '\e907';
}
