/* ------ Table of content ------

  1. Fonts
     ++ Cormorant Garamond
     ++ Montserrat
  2. Base
  3. Components
		 ++ btn-dropdown
     ++ btn-hamburger
		 ++ col-img
		 ++ obj-fit
		 ++ obj-top
		 ++ obj-bottom
		 ++ obj-bottom-80
		 ++ obj-left
		 ++ obj-left-25
		 ++ text-title
		 ++ h-300px
		 ++ px-lg-6
		 ++ font-montserrat
		 ++ font-Cormorant_Garamond
		 ++ text-decoration-dashed
  4. Layout
		 ++ logo
     ++ navigation
		 ++ container-sm-lower
		 ++ col-md-container
	5. Breakpoints
		 ++ medium
		 ++ large
		 ++ xlarge
		 ++ xxlarge

------------------------------ */

/* ===============
   Fonts
=============== */
/* ---- Cormorant Garamond ---- */
@font-face {
	font-family: "Cormorant Garamond";
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
}
@font-face {
	font-family: "Cormorant Garamond";
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
	font-family: "Cormorant Garamond";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf);
}

/* ---- Montserrat ---- */
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

/* ===============
   Base
=============== */
::selection {
	background-color: hsl(210, 15%, 90%);
}
footer ::selection {
	color: var(--bs-body-color);
}

body {
	font-family: "Cormorant Garamond", serif;
}

a {
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
}

button,
input[type="button"],
input[type="submit"] {
	font-family: "Montserrat", sans-serif !important;
}

label abbr {
	text-decoration: none !important;
}

input,
textarea {
	font-size: 0.88rem !important;
}

/* ===============
   Components
=============== */
/* ---- btn-dropdown ---- */
.btn-dropdown {
	padding: 0;
	border: none;
	background-color: transparent;
}

.btn-dropdown::before,
.btn-dropdown::after {
	content: "";
	display: inline-block;
	vertical-align: 3px;
	border-top: 0.3em solid;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	transition: transform 0.25s ease;
}

.btn-dropdown::before {
	margin-right: 0.4rem;
}
.btn-dropdown::after {
	display: none;
	margin-left: 0.8rem;
}

.navigation-dropdown.active .btn-dropdown::before,
.navigation-dropdown.active .btn-dropdown::after {
	transform: rotate(180deg);
}

.btn-dropdown:hover,
.btn-dropdown:focus {
	text-decoration: underline;
}

.navigation-dropdown.active .btn-dropdown {
	text-decoration: underline;
}

/* ---- btn-hamburger ---- */
.btn-hamburger .bar {
	width: 24px;
	height: 2px;
	margin: 0.35rem 0;
	transition: transform 0.25s ease-out;
	background-color: var(--bs-black);
}
.btn-hamburger.changed .bar-1 {
	transform: translate(0, 8px) rotate(-45deg);
}
.btn-hamburger.changed .bar-2 {
	opacity: 0;
}
.btn-hamburger.changed .bar-3 {
	transform: translate(0, -7px) rotate(45deg);
}

/* ---- col-img ---- */
.col-img {
	height: 580px;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/* ---- obj-fit ---- */
.obj-fit {
	object-fit: cover;
}

/* ---- obj-top ---- */
.obj-top {
	object-position: center top;
}

/* ---- obj-bottom ---- */
.obj-bottom {
	object-position: center bottom;
}

/* ---- obj-bottom-80 ---- */
.obj-bottom-80 {
	object-position: center 80%;
}

/* ---- obj-left ---- */
.obj-left {
	object-position: center left;
}

/* ---- obj-left-25 ---- */
.obj-left-25 {
	object-position: 25% center;
}

/* ---- text-title ---- */
.text-title {
	font-size: 2.2rem;
}

/* ---- h-300px ---- */
.h-300px {
	height: 300px;
}

/* ---- font-montserrat ---- */
.font-montserrat {
	font-family: "Montserrat", sans-serif !important;
}

/* ---- font-Cormorant_Garamond ---- */
.font-Cormorant_Garamond {
	font-family: "Cormorant Garamond", serif !important;
}

/* ---- text-decoration-dashed ---- */
.text-decoration-dashed {
	text-underline-offset: 2px !important;
	text-decoration-thickness: 1px !important;
	text-decoration-style: dashed !important;
}

/* ===============
   Layout
=============== */
/* ---- logo ---- */
.logo {
	width: 135px;
}

/* ---- navigation ---- */
.navigation {
	display: flex;
	position: absolute;
	top: 65%;
	left: 0;
	right: 0;
	text-align: right;
	z-index: 9;
	gap: 0.8rem 3rem;
	opacity: 0;
	visibility: hidden;
	align-items: flex-end;
	flex-direction: column;
	transition: 0.3s ease;
	background-color: rgba(var(--bs-light-rgb), 0.96);
}
.btn-hamburger.changed + .navigation {
	top: 100%;
	opacity: 1;
	visibility: visible;
}

.navigation a {
	color: var(--bs-black);
	text-decoration: none;
}
.navigation a:hover,
.navigation a:focus {
	text-decoration: underline;
}

.navigation-dropdown {
	width: 100%;
}

.dropdown__content {
	display: none;
	row-gap: 0.4rem;
	margin: 0.8rem -1rem 0 -1rem;
	align-items: flex-end;
	flex-direction: column;
	background-color: rgba(233, 236, 239, 0.5);
}
.navigation-dropdown.active .dropdown__content {
	display: flex;
}

/* ===============
	 Breakpoints
=============== */
/* ---- medium ---- */
@media screen and (max-width: 767px) {
	.container-sm-lower {
		max-width: 515px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.col-img {
		height: 700px;
	}

	.col-md-container {
		max-width: 336px;
	}
}

/* ---- large ---- */
@media screen and (min-width: 992px) {
	.btn-dropdown::before {
		display: none;
	}
	.btn-dropdown::after {
		display: inline-block;
	}

	.btn-hamburger {
		display: none;
	}

	.col-img {
		height: 775px;
	}

	.text-title {
		font-size: 3rem;
	}

	.px-lg-6 {
		padding-right: 4rem !important;
		padding-left: 4rem !important;
	}

	.col-md-container {
		max-width: 416px;
	}

	.navigation {
		position: relative;
		top: 0;
		text-align: left;
		opacity: 1;
		visibility: visible;
		transition: none;
		align-items: center;
		flex-direction: row;
		background-color: rgb(var(--bs-light-rgb));
	}

	.navigation a,
	.btn-dropdown {
		font-size: 1.125rem;
	}

	.navigation-dropdown {
		width: initial;
	}

	.dropdown__content {
		display: flex;
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		row-gap: 0.4rem;
		border-radius: 5px;
		align-items: flex-start;
		transition: 0.2s ease-out;
		background-color: var(--bs-white);
		box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
	}
	.navigation-dropdown.active .dropdown__content {
		top: 150%;
		opacity: 1;
		visibility: visible;
	}
}

/* ---- xlarge ---- */
@media screen and (min-width: 1200px) {
	.col-img {
		height: 850px;
	}

	.text-title {
		font-size: 3.5rem;
	}

	.col-md-container {
		max-width: 506px;
	}
}

/* ---- xxlarge ---- */
@media screen and (min-width: 1400px) {
	.col-md-container {
		max-width: 595px;
	}
}
