/* ------ Table of content ------

1. Import tailwind styles
2. Import fonts
   ++ Josefin Sans
3. Base styles
4. Layout
   ++ slideNavigation
   ++ dropdown
   ++ shadow
   ++ hide-content
   ++ image-box

------------------------------ */

/* =========================
   Import tailwind styles
========================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-color {
    transition: color 0.25s ease-out;
  }

  .link-color:hover,
  .link-color:focus {
    color: hsl(158, 64%, 52%);
  }
}

/* ===============
   Import fonts
=============== */
/* ----- Josefin Sans ----- */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Medium.eot');
  src: url('../fonts/Josefin_Sans/JosefinSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Josefin_Sans/JosefinSans-Medium.woff2') format('woff2'),
    url('../fonts/Josefin_Sans/JosefinSans-Medium.woff') format('woff'),
    url('../fonts/Josefin_Sans/JosefinSans-Medium.ttf') format('truetype'),
    url('../fonts/Josefin_Sans/JosefinSans-Medium.svg#JosefinSans-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.eot');
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Josefin_Sans/JosefinSans-Regular.woff2') format('woff2'),
    url('../fonts/Josefin_Sans/JosefinSans-Regular.woff') format('woff'),
    url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype'),
    url('../fonts/Josefin_Sans/JosefinSans-Regular.svg#JosefinSans-Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===============
   Base styles
=============== */
body {
  font-family: 'Josefin Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

header {
  animation: header_fadein 0.3s ease-out 1s 1 normal forwards;
}

nav {
  height: calc(100% - 40px);
  box-shadow: 0px 20px 10px rgba(229, 231, 235, 0.35) inset;
}

main {
  animation: main_fadein 0.3s ease-out 2s 1 normal forwards;
}

@keyframes header_fadein {
  from {
    top: -112px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes main_fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* ===============
   Layout
=============== */
/* ----- slideNavigation ----- */
header #slideNavigation {
  right: -300px;
  transition: right 0.4s ease-out;
}

header.open #slideNavigation {
  right: 0;
}

/* ----- dropdown ----- */
.dropdown .boxicons-chevron-down {
  color: hsl(221, 39%, 11%) !important;
  transition: transform 0.2s ease-out, background 0.25s ease-out;
}

.dropdown-btn:hover .boxicons-chevron-down,
.dropdown-btn:focus .boxicons-chevron-down {
  background-color: hsl(220, 14%, 96%);
}

.dropdown .dropdown-content {
  transition: max-height 0.3s ease-out;
}

.dropdown.active > .dropdown-btn .boxicons-chevron-down {
  transform: rotate(-180deg);
}

.noTransition {
  transition: none !important;
}

/* ----- shadow ----- */
#shadow {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
}

header.open #shadow {
  opacity: 1;
  visibility: visible;
  background-color: hsla(0, 0%, 9%, 0.5);
}

/* ----- hide-content ----- */
.hide-content {
  overflow-y: hidden;
}

/* ----- image-box ----- */
.image-box {
  overflow: hidden;
}

.image-box > a > img,
.image-box > div + img {
  filter: grayscale(1) brightness(0.5);
  transition: transform 0.2s ease-out, filter 0.25s ease-out;
}

/* Targets only devices that can hover */
@media (hover: hover) {
  /* ----- hide-content ----- */
  .hide-content {
    margin-inline-end: 17px;
  }

  .image-box > a:hover > img,
  .image-box > div:hover + img {
    filter: grayscale(0) brightness(0.65);
    transform: scale(1.05);
  }
}

/* Targets only devices that can't hover */
@media (hover: none) {
  body {
    margin: 0 !important;
  }

  .image-box > a > img,
  .image-box > div + img {
    filter: grayscale(0) brightness(0.65);
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1280px) {
  #shadow {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .dropdown .boxicons-chevron-down {
    color: inherit !important;
  }

  .dropdown .dropdown-content {
    transition: top 0.3s ease-out, opacity 0.35s ease-out,
      visibility 0.35s ease-out;
  }

  .dropdown .dropdown-content .link-color {
    color: hsl(0, 0%, 9%) !important;
  }

  .dropdown .dropdown .boxicons-chevron-down {
    transform: rotate(-90deg) !important;
  }

  .dropdown.active > .dropdown-btn {
    color: hsl(158, 64%, 52%);
  }

  .dropdown.active .dropdown.active .dropdown-btn {
    color: inherit;
    background-color: hsl(220, 14%, 96%);
  }

  .dropdown.active > .dropdown-btn + .dropdown-content {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  .dropdown.active .dropdown.active .dropdown-content {
    top: 0;
  }

  .dropdown-btn:hover .boxicons-chevron-down,
  .dropdown-btn:focus .boxicons-chevron-down {
    background-color: transparent;
  }
}
